.profile {
    margin: 140px 35% 0 38%;
}

.profile-data {
    display: flex;
    gap: 130px;
    justify-content: flex-start;
    position: absolute;
    left: 50px;
}

.profile_img img {
    width: 175px;
    height: 175px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;

}

.profile a {
    color: black;
}

.profile .footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: sans-serif;
}

.delete {
    display: block;
}

.no-posts-holder {
    display: flex;
    justify-content: center;
}

.no-posts {
    width: 70% !important;
    height: auto !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.personal .edit {
    display: flex;
    gap: 20px;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 15px;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 300px;
}

.personal .edit p {
    white-space: nowrap;
}

.personal .edit-img {
    width: 25px;
    margin-top: 8px;
}

.personal .bin-img {
    width: 25px;
    margin-left: -10px;
    margin-top: 8px;
}

.personal .data {
    display: flex;
    margin-bottom: 10px;
}

.personal .data span {
    margin-right: 5px;
    font-size: 20px;
}

.personal .data p {
    margin-right: 15px;
    margin-top: 5px;
}

.names {
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.email {
    margin-bottom: 5px;
}

.statuses {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0;
    overflow: auto;
    max-width: 850px;
    justify-content: center;
}

.statuses .status {
    display: inline-block;
    border-radius: 50%;
    overflow: auto;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background: linear-gradient(to right, red, orange);
    padding: 2px;
    margin-left: 15px;
    cursor: pointer;
}

.statuses .status .image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.statuses .status img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head-pet {
    display: block;
    text-align: center;
}

.head-pet p {
    margin-left: 13px;
}

.pet-photos {
    border-top: 1px solid #ddd;
    width: 850px;
}

.pet-photos img {
    margin: 10px;
    width: 400px;
    height: 400px;
    border-radius: 2px;
    /*box-shadow: 4px 4px 4px 4px #888888;*/
    object-fit: cover;
}

.pet-photos img:hover {
    box-shadow: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step-links {
    text-shadow: 1px 1px #4b4848;
}

.step-links a:hover {
    text-shadow: none;
}

.edit-deleteee {
	display: block;
	background-color: rgb(248, 202, 172);
	/*border: 1px solid rgb(156, 152, 152);*/
	padding: 45px;
	margin-bottom: 15px;
	border-radius: 30px;
	margin-left: 400px;
	/*border: 1px solid;*/
	/*box-shadow: 1px 2px 3px #888888;*/
}

.edit-deleteee {
	padding-left: 100px;
    margin-top: 150px;
}

.edit-deleteee {
	display: block;
	background-color: rgb(248, 202, 172);
	/*border: 1px solid rgb(156, 152, 152);*/
	padding: 45px;
	margin-bottom: 15px;
	border-radius: 30px;
	margin-left: 400px;
	/*border: 1px solid;*/
	/*box-shadow: 1px 2px 3px #888888;*/
}

.edit-deleteee h2 {
	text-align: center;
	margin-top: -10px;
	font-family: Elephant, cursive;
}

.edit-deleteee label {
	display: none;
}

.edit-deleteee input, select {
	background-color: rgb(240, 230, 230);
	border: 0.1px solid rgb(186, 184, 184);
	border-radius: 3px;
	height: 30px;
	padding-left: 2px;
	margin-top: 10px;
}

.edit-deleteee button {
	color: white;
	font-weight: bold;
	font-size: 13px;
	border: none;
	width: 100%;
	border-radius: 3px;
	margin-top: 10px;
	height: 30px;
    box-shadow: 2px 3px #888888;
    cursor: pointer;
}

.edit-deleteee textarea {
	position: relative !important;
}

.edit-deleteee a {
	color: white;
}

.edit-photo select {

}

.edit-photo label {
	display: initial !important;
	margin-top: 12px;
	margin-right: 5px;
	white-space: break-spaces;
}

.edit-photo textarea {
	background-color: rgb(240, 230, 230);
	border: 0.1px solid rgb(186, 184, 184);
	border-radius: 3px;
	height: 30px;
	width: 77.7%;
	margin-left: 1px;
	padding-left: 2px;
	margin-top: 20px;
    top: -7px;
}

.edit-photo input {
	padding: 3px;
}

.edit-photo p {
	display: flex;
}