{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="/static/css/styles.css">
    <title>Iron Recipes</title>

</head>
<body>
<main>
    <div class="not-found">
        <div class="not-found-img">
            <img src="{% static 'images/404_not_found.webp' %}" alt="404 not found">
        </div>

        <h3>
            Oops, looks like that's an invalid url.
        </h3>

        <h1>Error 404 - this page doesn't exist</h1>
        <a href="{% url 'index' %}">
            <button>Return to Home Page!</button>
        </a>
    </div>
</main>
<div class="footer">
		<span class="footer-section">
			© 2023 IRON RECIPES INC.
		</span>
</div>
</body>
</html>